<footer>
    <link rel="stylesheet" href="/css/styles.css">
    <% if(!isAuth) { %>
        <p>Not logged in</p>
        <% } else { %>
            <%- include('../partials/cart.ejs') %> 
            <p>
                logged in as : <%= username %>
            </p>
            <% } %>
    
</footer>